<link href="../../css/agrupador.css" rel="stylesheet" />
<div cg-busy="myPromise" ng-init="init()" resize>



 <div ng-controller="agrupadorController" class="container">

        <h2>Agrupamiento y orden de provedores</h2>
        <div>
            <button type="button" ng-click="logModels()">Agrupamientos y orden</button>
            <ul class="list logList">
                <li ng-repeat="entry in sortingLog" class="logItem">
                    {{entry}}
                </li>
            </ul>
        </div>
        <br>
        <div class="floatleft">

        <div ng-repeat="agrupador in agrupadores" class="screen floatleft">
            <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="agrupador.lista">{{agrupador.pca_descripcion}}
                <div ui-sortable-selectable class="app" ng-repeat="item in agrupador.lista track by item.value" >{{item.text}}</div>
            </div>
        </div>



       <!--  <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="list5" >Sin agrupar
                <div ui-sortable-selectable class="app" ng-repeat="app in list5 track by app.value">{{app.text}}</div>
        </div> -->
            <div style="clear: both;"></div>
        </div>
        
        <div class="clear"></div>
</div></div>