<div cg-busy="myPromise" ng-init="init()" id="contentManager" resize>
    <h4 class="modal-title" id="memberModalLabel">Administración de Lotes</h4>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Por aprobar">
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Por Aplicar">
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Aplicados">

            <div class="row">
                <div class="col-sm-4">
                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                    </div>
                </div>
                <div class="col-sm-4">Selecciona fecha inicial y final</div>
                <div class="col-sm-4">
                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="dt2" class="well well-sm" datepicker-options="options"></uib-datepicker>
                    </div>
                </div>
            </div>





            <br>

            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">1($99,084.00)
06162016-ZMO841221BJ401
2016-06-16T11:53:02.277</a>
            </div>
        </uib-tab>
    </uib-tabset>
</div>

<!--Inicio Modal de consulta FAL-->
<div class="modal modal-static fade" id="adminModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<!--Inicio Modal de consulta FAL-->
