<link href="../../css/pago.css" rel="stylesheet" />

<div cg-busy="myPromise" ng-init="init()" id="contentManager" resize>

	<section id="global">
		<div id="tituloEmpresa">
			<h1 id="title">{{ scencabezado.empNombre }}</h1>
		</div>
		<div id="mdContentSuma2">
			<div class="mdLineSuma" ng-repeat="TotalxEmpresa in TotalxEmpresas">
				<div class="sumTexto">
					{{TotalxEmpresa.cuentaPagadora}}
				</div>
				<div class="sumMonto blue">
					{{TotalxEmpresa.sumaSaldo | currency}}
				</div>
			</div>
			<div class="rows"> <div class="raya rayaLightBlue"></div></div>
			<div class="rows">
				<div class="sumTexto">
					A pagar
				</div>
				<div class="sumMonto montoFinal blue">
					{{GranTotal | currency}}
				</div>
			</div>
		</div> 
<!-- 		<div id="chkPagable2">
				<span id="txtCartera">	Totales </span><input type="checkbox" class="switch-checkbox" checked>
		</div> -->
	</section>
<!-- 	<section>
		<div class="row">
			<button type="button" ng-repeat="Lote in noLotes.data" ng-click="ConsultaLote(Lote,{{$index + 1}})" class="btn btn-primary"><span>Lote {{$index +1}}</span>
			</button>
			<button type="button" class="btn btn-info" >
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
	</section> -->
	<section id="flujoEfectivo">
		<div class="tituloBloque1">
			<span class="colText lightBlue" >Flujo de Efectivo  --------- Nombre Lote:   {{nombreLote}}</span>
		</div>
		<div id="resumenColapsado" ng-hide="!colapsado">
			<div id="colCobranza">
				<div class="colLabel">Cobranza Esperada</div><span class="colText lightBlue" > {{cobrar | currency}} </span> 
			</div>
			<div id="colCaja">
				<div class="colLabel">Caja</div><span class="colText lightBlue" > {{caja | currency}} </span> 
			</div>
			<div id="mdContentSuma2">
			<div class="mdLineSuma" ng-repeat="TotalxEmpresa in TotalxEmpresas">
				<div class="sumTexto">
					{{TotalxEmpresa.cuentaPagadora}}
				</div>
				<div class="sumMonto lightBlue">
					{{TotalxEmpresa.saldoLote | currency}}
				</div>
			</div>
			<div class="rows"> <div class="raya rayaLightBlue"></div></div>
			<div class="rows">
				<div class="sumTexto">
					Flujo
				</div>
				<div class="sumMonto montoFinal lightBlue">
					{{FlujoEfectivo | currency}}
				</div>
			</div>
			</div> 
		</div>
		<div class="collapse in" id="collapsePanel">	
			<div id="contenedorTablas">
				<div class="rowTablas">
					<div id="tblBancos">
						<div class="titleBloque">
							Ingresos Bancos
						</div>
						<br>
						<table class="table table-condensed" id="tablaING"> 
							<thead> 
								<tr>
									<th>Cuenta</th> 
									<th>Saldo</th> 
									<th>Disponible</th>
								</tr> 
							</thead> 
							<tbody> 
								<tr ng-repeat="ingreso in ingresos" >
									<td>{{ingreso.cuenta}}</td>				
									<td><input type="text" ng-model="ingreso.saldo" ng-blur="calculaSaldoIngresos(ingreso)" class="form-control txtIngresos" ng-keypress="presskey($event)" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td> 
									<td ng-class="{'danger':ingreso.disponible == '0', 'warning':ingreso.disponible < (ingreso.saldo / 2),'info': ingreso.disponible > (ingreso.disponible / 2)}">{{ingreso.disponible | currency}}</td> 
								</tr>
							</tbody>
							<tfoot>
								<td></td>
								<td>{{getTotal('ingresoSaldo') | currency}}</td>
								<td>{{getTotal('ingresoDisponible') | currency}}</td>
							</tfoot>
						</table>
					</div>
					<div id="tblOtros">
						<div class="titleBloque">
							<p>Ingresos Otros</p>
						</div>
						<br>
						<table class="table table-condensed"> 
							<thead> 
								<tr> 				
									<th>Concepto</th> 								
									<th>Total</th>
								</tr> 
							</thead> 
							<tbody> 
								<tr>				
									<td>
										Caja:
									</td>								
									<td><input type="text" id="txtCaja" ng-model="caja" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control txtIngresos"></td> 
								</tr>
								<tr>				
									<td>
										Cobranza esperada:
									</td>								
									<td><input type="text" id="txtCobranza" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="cobrar" class="form-control txtIngresos"></td> 
								</tr>
							</tbody>
							<tfoot>							
								<td></td>							
								<td>{{getTotal('otrosIngresos') | currency}}</td>
							</tfoot>
						</table>
					</div>
					<div id="tblTransfer">
						<div class="titleBloque">
							<p>Transferencias Bancarias</p>
						</div>
						<button type="button" class="btn btn-success" id="btnAdd" ng-click="addTransferencia()" > 
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
						<table class="table table-condensed" id="tablaTR"> 
							<thead> 
								<tr> 				
									<th>Banco Origen</th>
									<th>Banco Destino</th>
									<th>Importe</th>
									<th></th>
								</tr> 
							</thead> 
							<tbody id="tbodyTrans1"> 
								<tr class="clonedInput" ng-repeat="transferencia in transferencias">				
									<td>									
										<div class="input-group">
											<input type="text" class="form-control" readonly="true" ng-model='transferencia.bancoOrigen' aria-label="...">
											<div class="input-group-btn">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li ng-repeat="ingreso in ingresos">
														<a href="#" ng-click="selBancoIngreso(ingreso, transferencia)">{{ingreso.cuenta}}</a>
													</li>
												</ul>
											</div><!-- /btn-group -->
										</div><!-- /input-group -->	
									</td> 											
									<td>
										<div class="input-group">
											<input type="text" class="form-control" readonly="true" ng-model='transferencia.bancoDestino' aria-label="...">
											<div class="input-group-btn">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li ng-repeat="egreso in egresos">
														<a href="#" class="egresosCombo" ng-click='selBancoEgreso(egreso,transferencia)'>
															{{egreso.cuenta}}
														</a>
													</li>
												</ul>
											</div><!-- /btn-group -->
										</div><!-- /input-group -->	
									</td> 								
									<td><input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-blur="calculaTransferencia(transferencia)" ng-keypress="presskey($event)" ng-model="transferencia.importe" class="form-control txtIngresos"></td> 
									<td> 
										<button type="button" class="btn btn-danger" id="btnDel" ng-click="delTransferencia(transferencia)">
											<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</tbody>
							<tfoot>							
								<td></td>
								<td></td>
								<td>{{getTotal('transferencias') | currency}}</td>
							</tfoot>
						</table>
					</div>
				</div>
				<div class="rowTablas">
					
					<div id="tblTotales">
						<div class="titleBloque">
							<p>Total Operaciones</p>
						</div>
						<table class="table table-condensed"> 
							<thead> 
								<tr> 				
									<th>Banco-Cta</th> 								
									<th>Saldo</th>
									<th>A transferir</th> 								
									<th>Total</th>
									<th>Excedente</th>
								</tr> 
							</thead> 
							<tbody> 
								<tr ng-repeat="egreso in egresos">
									<td>
										{{egreso.cuenta}}
									</td>								
									<td>
										<input type="text" ng-model="egreso.saldo" ng-blur="calculaTotalOperaciones()" ng-hide="egreso.ingreso != 0" class="form-control txtIngresos" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
										<label ng-hide="egreso.ingreso == 0">{{egreso.saldoIngreso | currency}}</label>
									</td> 
									<td>
										{{egreso.aTransferir | currency}}
									</td> 
									<td>
										{{egreso.total | currency}}
									</td> 
									<td>
										{{egreso.excedente | currency}}
									</td> 
								</tr>							
							</tbody>
							<tfoot>							
								<td></td>
								<td>{{getTotal('saldo') | currency}}</td>
								<td>{{getTotal('aTransferir') | currency}}</td>
								<td>{{getTotal('egresosTotal') | currency}}</td>
								<td>{{getTotal('excedente') | currency}}</td>
							</tfoot>
						</table>
					</div>
				</div>
			</div>

		</div>	
		<div id="colapsar" >
			<a class="glyphicon glyphicon-resize-small linkManual" aria-hidden="true" data-toggle="collapse" data-target="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel" ng-click="Resize()" ng-hide="colapsado" tooltip="Contraer"></a>
			<a class="glyphicon glyphicon-resize-full linkManual" aria-hidden="true" data-toggle="collapse" data-target="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel" ng-click="Resize()" ng-hide="!colapsado" tooltip="Expandir"></a>
		</div>
	</section>
	
	<section id="filtros">
		<div class="tituloBloque2">
			Cartera a pagar
		</div>
		<div id="filtrosContenedor">
			<div id="mdContentSuma3">
			<div class="mdLineSuma" ng-repeat="grdBanco in grdBancos">
				<div class="sumTexto">
					{{grdBanco.banco}}
				</div>
				<div class="sumMonto blueInfo">
					{{grdBanco.subtotal | currency}}
				</div>
			</div>
			<div class="rows"> <div class="raya rayaBlueInfo"></div></div>
			<div class="rows">
				<div class="sumTexto">
					A pagar
				</div>
				<div class="sumMonto montoFinal blueInfo">
					{{grdApagar - grdnoPagable | currency}}
				</div>
			</div>
			</div> 
			<div class="row panelTotales">
<!-- 				<div id="clsPagar">
					<span id="clsMainLabel">Incluido</span><span id="clsPagarText" class="blueInfo"> {{cantidadTotal | currency}} </span>
				</div> -->
				<!--FAL variables en base al grid-->				
				<div id="clsComplemento">
					<div class="clsNoPagable">
						<span class="clsDetailLabel">Todos</span> <span id= "mano" class="clsDetailText blueInfo" ng-click="BorraFiltros()">{{grdApagar | currency}}</span>
					</div>
					<div class="clsNoPagable separadorNoPagable">
						/
					</div>
					<div class="clsNoPagable">
						<span class="clsDetailLabel">A Pagar</span> <span id= "mano"  class="clsDetailText blueInfo" ng-click="Filtrar('False',23)">{{grdApagar -grdnoPagable | currency}}
						</span>
					</div>
					<div class="clsNoPagable separadorNoPagable">
						/
					</div>
					<div class="clsNoPagable">
						<span class="clsDetailLabel">No pagable</span> <span id= "mano"  class="clsDetailText blueInfo" ng-click="Filtrar('True',23)">{{grdnoPagable | currency}}
						</span>
					</div>
					<div class="clsNoPagable separadorNoPagable">
						/
					</div>
					<div class="clsNoPagable" >
						<span class="clsDetailLabel">No Incluido</span> <span id= "mano" class="clsDetailText blueInfo" ng-click="Filtrar('No Incluido',26)">  {{ grdNoIncluido | currency }}</span>
					</div>
					<div class="clsNoPagable separadorNoPagable">
						/
					</div>
					<div class="clsNoPagable">
						<span class="clsDetailLabel">Reprogramado</span> <span id= "mano" class="clsDetailText blueInfo" ng-click="Filtrar('Reprogramado',26)">
						{{ grdReprogramado | currency }}
						  </span>
					</div>
					<div class="clsNoPagable separadorNoPagable">
						/
					</div>
					
					<div class="clsNoPagable">
						<span class="clsDetailLabel">Porcentaje a pagar</span> <span class="clsDetailText blueInfo"> {{ (((grdApagar - grdnoPagable) * 100) / ( GranTotal )) | number:2 }} %</span>
					</div>
				</div>

			</div>
			<!--div id="chkPagable0">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary" ng-click="FiltrarCartera('')">Todos</button>
					<button type="button" class="btn btn-primary"  ng-click="FiltrarCartera('True')">Pagable</button>
					<button type="button" class="btn btn-primary"  ng-click="FiltrarCartera('False')">Incluida</button>
					<button type="button" class="btn btn-primary"  ng-click="FiltrarCartera('False')">No Incluida</button>
				</div>
			</div-->
<!-- 			<div id="chkPagable1">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" ng-click="FiltrarCartera('')">BANAMEX 7187 </button>
					<button type="button" class="btn btn-info"  ng-click="FiltrarCartera('True')"> BANCOMER 1289 </button>
				</div>
			</div> -->
		</div>
	</section>
	
	<section id="container">
		<button type="button" id="btnSelectAll" ng-hide="1 > 0" class="btn btn-success" ng-disabled="!gridApi1.grid.options.multiSelect" ng-click="seleccionaTodo()"></button>
		<button type="button" id="btnSelect" ng-hide="1 > 0" class="btn btn-success" ng-disabled="!gridApi1.grid.options.multiSelect" ng-click="selecciona()"></button>
		<div id="contenedor" ng-init="iniciaGrid()">
			<div id="grid1" ui-grid="gridOptions" ui-grid-grouping ui-grid-edit ui-grid-selection ui-grid-cellNav class="gridStyle"></div>
		</div>
	</section>
	<!--FAL div donde se muestra el zip a descargar-->
	<div id="divDocumento" class="filedownload"></div>

	<section id="accion">
		<button type="button" class="btn btn-danger" ng-show="estatusLote==0" ng-click="Cancelar()">Cancelar</button>
		<button type="button" class="btn btn-primary" data-loading-text="Generando..." ng-click="GenerarArchivo()" ng-show="estatusLote == 2">Generar Archivo</button>
		<button id="btnGuardando" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="Guardar()" data-loading-text="Guardando..." autocomplete="off" ng-show="(estatusLote < 2) && (idOperacion == 0)">Guardar</button>
		<button id="btnEnviaApro" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="EnviaAprobacion()" data-loading-text="Enviando..." autocomplete="off" ng-show="(estatusLote == 1) && (idOperacion == 0)">Enviar a Aprobación</button>
		<button id="btnAprobar" type="button" class="btn btn-succes dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="AprobarLote()" data-loading-text="Aprobando..." autocomplete="off" ng-show="(idOperacion == 2) && (estatusLote == 1)">Aprobar</button>
	</section>

</div>



