#container {
  margin-top: 300px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%; }

#accion {
  width: 100%;
  margin-top: 50px;
  text-align: right;
  padding-right: 5%; }

.panelEncabezado {
  display: inline-block;
  width: 400px;
  float: left;
  padding-left: 15px; }

.panelTotales {
  display: inline-block;
  width: 550px;
  float: right;
  padding-right: 15px;
  margin-top: 50px;
  position: relative; }

#top {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%; }

#title {
  width: 100%;
  text-align: center;
  display: block; }

#clsPagar {
  display: inline-block;
  width: 60%;
  text-align: right; }

#clsComplemento {
  position: absolute;
  right: 0;
  margin-top: -46px;
  width: 39%;
  text-align: left;
  margin-right: 10px;
  padding-left: 6px; }

#clsMainLabel {
  font-size: 14px; }

.clsDetailText {
  font-size: 22px; }

.clsDetailLabel {
  font-size: 12px; }

#clsPagarText {
  font-size: 33px; }

.rows {
  width: 100%;
  border: 1px solid transparent; }

.raya {
  width: 55%;
  border: 1px solid gray;
  float: right; }

.resTexto {
  width: 39%;
  display: inline-block;
  text-align: right; }

.resSigno {
  width: 23%;
  display: inline-block;
  text-align: right;
  font-size: 11px; }

.resMonto {
  width: 36%;
  display: inline-block;
  text-align: right;
  font-size: 18px; }

.flujo {
  float: right;
  right: 0;
  margin-right: -10px; }
